/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-color: rgb(250, 248, 248);
  --bg-color: rgb(1, 1, 46);
  --secondary: rgb(236, 129, 6);
  --heading-font: "Roboto Condensed", sans-serif;
  --body-font: "Poppins", sans-serif;
}

.registration {
  font-family: var(--body-font);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 80px 0;
}

.inputcontainer{
  position: relative;
}

.registration h2{
  padding: 40px;
  font-family: var(--heading-font);
}

.registration form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 40px;
  border-radius: 10px;
}

.registration form h3{
  font-weight: var(--heading-font);
}

.registration form label{
  display: block;
  margin-bottom: 5px;
}

 .registration form label span{
  color: rgb(248, 59, 59);
}

.registration form input, button{
  width: 400px;
  padding: 10px;
  border-radius:5px;
  border: 2px solid transparent;
  outline: none;
  margin-bottom: 15px;
  font-family: var(--body-font);
  font-size: 1rem;
  transition: border-color 0.3s;
  position: relative;

}

.registration form input:hover{
  border-color: var(--secondary);
}

.inputcontainer.success input {
  border-color: #2ecc71;
}

.inputcontainer.error input {
  border-color: #e74e3c;
}


.inputcontainer small{
  position: absolute;
  bottom: -8px;
  right: 0;
  /* visibility: hidden; */
}

.inputcontainer.error small {
  color: #e74e3c;
  visibility: visible;
}

.registration form button{
  background-color: var(--secondary);
 color: var(--text-color);
 margin-top: 5px;
}

.registration form button:hover{
  background-color: rgb(255, 166, 0);
}

@media screen and (max-width: 500px){
  .registration{
    margin: 30px 0;
  }
  .registration form{
    padding: 20px;
  }
  .registration form input, button{
    width: 300px;
  }
}

@media screen and (max-width: 500px){
  .registration h2{
    font-size: 1.3rem;
  }
  .registration form input, button{
    width: 270px;
  }
}