/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-color: rgb(250, 248, 248);
  --ring-color: rgba(250, 248, 248, 0.6);
  --bg-color: rgb(1, 1, 46);
  --secondary: rgb(236, 129, 6);
  --heading-font: "Roboto Condensed", sans-serif;
  --body-font: "Poppins", sans-serif;
}

.registration {
  font-family: var(--body-font);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  margin: 80px 0;
}

.registration form {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

.registration form h2 {
  margin-bottom: 30px;
  font-family: var(--heading-font);
  font-size: 2.2rem;
}

.inputcontainer {
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 20px;
}

.inputcontainer input {
  border: 2px solid var(--ring-color);
  background: transparent;
  outline: none;
  padding: 10px 7px;
  border-radius: 5px;
  width: 300px;
  color: var(--text-color);
}

.inputcontainer input:hover{
  border-color: var(--text-color);
}

.inputcontainer i {
  position: absolute;
  right: 0.7rem;
  top: 0.6rem;
  color: var(--text-color);
}

.inputcontainer.success input {
  border-color: #2ecc71;
}

.inputcontainer.error input {
  border-color: #e74e3c;
}

.inputcontainer small {
  position: absolute;
  bottom: 0;
  left: 0.4rem;
  font-size: 0.7rem;
  visibility: hidden;
}

.inputcontainer.error small {
  color: #e74e3c;
  visibility: visible;
}

.inputcontainer input::placeholder {
  color: var(--text-color);
}

.registration button {
  width: 300px;
  padding: 10px 7px;
  background-color: var(--secondary);
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.login-link{
  font-size: .8rem;
}

.login-link p a{
  color: var(--text-color);
  text-decoration: none;
}

.login-link p a:hover{
  color: var(--secondary);
}